---
import { getaActiveSessions } from 'src/db/queries/getActiveSessions';
import type { ActiveSession } from 'src/db/queries/getActiveSessions';
import Button from 'src/components/ui/button.astro';
import EventCard from 'src/components/homepage/EventCard.astro';
import Link from 'src/assets/icons/link.svg';
import getDb from 'src/db';
const db = getDb(Astro.locals);
const userId = Astro.cookies.get('userId')?.value || undefined;
const scoringSessions = await getaActiveSessions(db);

type SessionGroupKey = string;
const groupedSessionsObj: Record<SessionGroupKey, ActiveSession[]> = {};
for (const sesh of scoringSessions) {
  const key: SessionGroupKey = `${sesh.scoringType}|${sesh.special}|${sesh.eventType}|${sesh.courseId}`;
  if (!groupedSessionsObj[key]) {
    groupedSessionsObj[key] = [];
  }
  groupedSessionsObj[key].push(sesh);
}
const groupedSessions: ActiveSession[][] = Object.values(groupedSessionsObj);

const ownedScoringSession = userId
  ? scoringSessions.find((sesh) => sesh.ownerId === Number(userId))
  : null;

const hasFinishedSession = ownedScoringSession && ownedScoringSession.state === 'PENDING';
const scoringSession = ownedScoringSession || scoringSessions[0];
---

{
  userId && !ownedScoringSession && groupedSessions.length === 0 && (
    <Button class="absolute right-4 top-2" size="sm">
      <a href="/scoring/new" data-astro-prefetch="true">
        NY RUNDA
      </a>
    </Button>
  )
}
{
  scoringSession && (
    <EventCard date={scoringSession.createdAt || ''} live>
      <div id={`scoringSession.${scoringSession.id}`} class="flex justify-between">
        <a
          href={
            !ownedScoringSession
              ? `/scoring/new?joinId=${scoringSession.id}`
              : `/scoring/${scoringSession.id}`
          }
        >
          <Button size="xs" intent="default" class="absolute bottom-2 left-2">
            {hasFinishedSession ? 'REDIGERA' : ownedScoringSession ? 'FORTSÄTT' : 'FÖR SCORE'}
          </Button>
        </a>
      </div>

      <a href={`/scoring/${scoringSession.id}/leaderboard`} class="absolute bottom-2 right-2">
        <Link class="size-5" />
      </a>
    </EventCard>
  )
}
