---
import AppScreen from 'src/layouts/AppScreen.astro';
import getDb from 'src/db';

import Settings from 'src/components/newscoringsession/Settings.astro';
import CourseSelector from 'src/components/newscoringsession/CourseSelector.astro';
import TeamSetup from 'src/components/newscoringsession/TeamSetup.astro';
import PlayerSetup from 'src/components/newscoringsession/PlayerSetup.astro';
import Button from 'src/components/ui/button.astro';
import { createScoringSession } from 'src/db/mutations/createScoringSession';

const db = getDb(Astro.locals);

if (Astro.request.method === 'POST') {
  try {
    const formData = await Astro.request.formData();
    const userId = await Astro.session?.get('userId');

    // console.log(formData);

    if (!userId) {
      throw new Error('Logga in för att skapa scoringSession');
    }

    const createdId = await createScoringSession(Number(userId), formData, db);

    return Astro.redirect(`/scoring/${createdId}`);
  } catch (e) {
    console.warn(e);
  }
}

const allPlayers = await db.query.profiles.findMany({
  where: (players, { eq }) => eq(players.active, true),
  orderBy: (players, { asc }) => [asc(players.fullName)]
});

const joinId = Astro.url.searchParams.get('joinId') || '';
let joinSession = null;
if (joinId) {
  joinSession = await db.query.scoringSessions.findFirst({
    where: (sessions, { eq }) => eq(sessions.id, Number(joinId))
  });
}
---

<AppScreen title="Ny Runda" back="/">
  <div class="max-w-screen-lg p-4 pb-40 mx-auto">
    <form
      class="flex flex-col gap-4"
      method="POST"
      x-data={`teamForm(${joinSession?.courseId}, ${joinSession?.special}, ${joinSession?.teamEvent}, ${joinSession?.strokes})`}
    >
      <Settings />
      <CourseSelector />
      <TeamSetup allPlayers={allPlayers} />
      <PlayerSetup allPlayers={allPlayers} />
      <div class="fixed left-0 w-full p-4 backdrop-blur bottom-0 bottom-safe">
        <Button type="submit" size="block" x-bind:disabled="disableSave">SPELA GOLF</Button>
      </div>
    </form>
  </div>
</AppScreen>
<script src="src/assets/alpine//NewScoringSessionController.ts"></script>
