---
import type { Profile } from 'src/db/schema/profile';
import { shortName } from 'src/lib/formatters';
import Quantity from '../ui/quantity.astro';
import Checkbox from '../ui/checkbox.astro';

export interface Props {
  allPlayers: Profile[];
}
const { allPlayers } = Astro.props;
---

<div x-show="!(specialWeek && teamEvent)">
  <h2 class="flex justify-between">Spelare</h2>
  <div class="flex flex-col gap-2 pt-4">
    {
      allPlayers.map((player, index) => (
        <Checkbox
          name={`players[${index}][id]`}
          value={player.id}
          xModel="selectedPlayers"
          label={shortName(player.fullName)}
          size="lg"
        >
          <template x-if={`!teamEvent && hasSelectedPlayer(${player.id})`}>
            <Quantity value={10} name={`players[${index}]['strokes']`} />
          </template>
        </Checkbox>
      ))
    }
  </div>
</div>
