---
export const partial = true;
import {
  getMinimalScoringSession,
  getLeaderboardForScoringSession
} from 'src/db/queries/getScoringSession';
import EventPillRow from 'src/components/shared/EventPillRow.astro';
import standardCompRank from 'src/lib/standardCompRank';
import { shortName } from 'src/lib/formatters';
import Beers from 'src/components/shared/Beers.astro';
import Ciders from 'src/components/shared/Ciders.astro';
import ToPar from 'src/components/shared/ToPar.astro';
import Button from 'src/components/ui/button.astro';

const { id } = Astro.params;
const userId = await Astro.session?.get('userId');
if (!id) throw new Error('Id saknas för runda');

const scoringSession = await getMinimalScoringSession(Number(id));

if (!scoringSession) {
  throw new Error('Hittade ingen scoring session');
}

const leaderboards = await getLeaderboardForScoringSession(scoringSession);

if (leaderboards.length === 0) {
  throw new Error('Hittade ingen data att visa');
}

const scorecards = leaderboards.flatMap((session) => session.scorecards);

const rankedScorecards = scoringSession.strokes
  ? standardCompRank(scorecards, 'toPar', false, null)
  : standardCompRank(
      scorecards.map((s) => ({ ...s, toPar: (s.through ?? 0) * 2 - (s.points ?? 0) })),
      'toPar',
      true,
      null
    );

const canCloseWeek =
  userId === '2'
    ? leaderboards.every((l) => l.state === 'PENDING') &&
      scorecards.every((s) => s.through === scoringSession.course.holesCount)
    : false;

// Astro.response.headers.set('HX-Trigger', 'score-updated');
---

<main class="p-4">
  <div class="flex items-center justify-between">
    <h3 class="mb-2">
      {
        new Date(scoringSession.createdAt || '').toLocaleDateString('sv-SE', {
          day: 'numeric',
          month: 'short'
        })
      } -
      {scoringSession.course.name}
    </h3>

    <EventPillRow
      special={!!scoringSession.special}
      strokes={!!scoringSession.strokes}
      teamEvent={!!scoringSession.teamEvent}
      live
    />
  </div>

  <table class="w-full text-left text-slate-700 mt-4">
    <thead class="uppercase bg-stone-800 text-white">
      <tr>
        <th class="p-2 text-center vcr">#</th>
        <th class="p-2 vcr">Spelare</th>
        {!scoringSession.special && <th class="p-2 text-center vcr">💸</th>}
        <th class="p-2 text-center vcr">Hål</th>
        <th class="p-2 text-center vcr">Slag</th>
        <th class="p-2 text-center vcr">Poäng</th>
        <th class="p-2 text-center vcr">+/-</th>
      </tr>
    </thead>
    <tbody>
      {
        rankedScorecards.map((scorecard) => (
          <tr class="border-b border-gray-200 odd:bg-white even:bg-gray-50">
            <td class="p-2 text-center vcr">{scorecard.rank}</td>
            <td class="p-2 flex flex-col vcr uppercase">
              {scorecard.players.map((p) => (
                <div class="text-black font-bold">
                  {shortName(p.player.fullName)}
                  <Beers beers={p.beers || 0} />
                  <Ciders ciders={p.ciders || 0} />
                </div>
              ))}
              <small>{scorecard.givenStrokes} Slag</small>
            </td>
            {!scoringSession.special && (
              <td class="p-2 text-center vcr">
                {scorecard.players.reduce((a, b) => a + (b.fines ?? 0), 0)}
              </td>
            )}
            <td class="p-2 text-center vcr">{scorecard.through}</td>
            <td class="p-2 text-center vcr">{scorecard.strokes}</td>
            <td class="p-2 text-center vcr text-black font-bold">{scorecard.points}</td>
            <td class="p-2 font-extrabold text-center vcr">
              <ToPar toPar={scorecard.toPar || 0} />
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>

  {
    canCloseWeek && (
      <div class="mt-40">
        <Button
          size="sm"
          intent="destructive"
          hx-post={`/scoring/${id}/close`}
          hx-confirm="Helt säker?"
        >
          KIM - STÄNG RUNDA
        </Button>
      </div>
    )
  }
</main>
