---
import type { Hole } from 'src/db/schema/hole';
import StrokeDots from 'src/components/shared/StrokeDots.astro';
import type { ScoringSessionWithAllData } from 'src/db/queries/getScoringSession';
import ScoringScore from './ScoringScore.astro';

interface Props {
  scorecards: ScoringSessionWithAllData['scorecards'];
  hole: Hole;
  currentHoleNumber: number | null;
  holesCount: number;
}

const { scorecards, hole, currentHoleNumber, holesCount } = Astro.props;
---

<tr
  class={`odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800  ${currentHoleNumber == hole.number ? 'border-cyan-400 border' : 'border-b border-gray-200 dark:border-gray-700'}`}
>
  <td class="h-16 p-2 vcr">{hole.number}</td>
  {
    scorecards.map((scorecard) => (
      <td class="relative border-l">
        <ScoringScore
          score={scorecard.scores.find((s) => s.hole === hole.number)}
          hole={hole}
          scorecardId={scorecard.id}
          givenStrokes={scorecard.givenStrokes || 0}
          players={scorecard.players}
          holesCount={holesCount}
        />
        <StrokeDots
          holeIndex={hole.index}
          givenStrokes={scorecard.givenStrokes || 0}
          holesCount={holesCount}
        />
      </td>
    ))
  }
</tr>
