---
import HeaderTitle from 'src/components/shared/HeaderTitle.astro';
import Button from 'src/components/ui/button.astro';
import db from 'src/db';
import AppScreen from 'src/layouts/AppScreen.astro';
import { shortName } from 'src/lib/formatters';

const errors = { password: '' };

if (Astro.request.method === 'GET') {
  const userId = await Astro.session?.get('userId');
  if (userId) {
    return Astro.redirect('/');
  }
}

if (Astro.request.method === 'POST') {
  try {
    const formData = await Astro.request.formData();
    const userId = formData.get('userId');
    const password = formData.get('password');

    // Replace with your actual password check logic
    if (password === import.meta.env.USER_PASSWORD) {
      await Astro.session?.set('userId', String(userId));
      return Astro.redirect('/');
    } else {
      errors.password = 'Fel lösenord!';
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}

const players = await db.query.profiles.findMany({
  orderBy: (p, { desc }) => [desc(p.avatarUrl)]
});
---

<AppScreen title="Logga in" back>
  <div class="flex min-h-svh w-full  p-6 md:p-10">
    <div class="w-full">
      <HeaderTitle title="VÄLJ KARAKTÄR" />

      {errors.password && <p style="color: red;">{errors.password}</p>}
      <form method="post" class="login" x-data="login">
        <div class="flex gap-4">
        <input type="hidden" name="userId" x-model="userId" required />
        <div class="flex gap-4 flex-wrap" x-auto-animate :class={`[
          isAnotherUser('test') ? 'w-1/2' : ''
        ]`}>
          {
            players.map((player) => (
              <div class="p-4 flex flex-col items-center gap-2 bg-gray-500/25 rounded py-4 active:bg-green-500/50" x-on:click={`toggleUserId(${player.id})`} :class={`[
                isUser(${player.id}) ? 'bg-green-500' : '',
                isAnotherUser(${player.id}) ? 'hidden' : ''
              ]`}>
                  <img src={player.avatarUrl === '1' ? `/images/avatars/${player.id}.png` : '/images/avatars/default.png'} class="size-24" id={player.fullName}/>

                  <span class="text-sm uppercase">{shortName(player.fullName)}</span>
              </div>
            ))
          }
        </div>

        <div
          class="flex-col flex gap-4 w-full"
          x-show="canLogin()"
          x-cloak>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="hemligt!"
            required
            minlength="3"
            class="bg-white border p-4 text-2xl text-black w-full"
          />

          <Button size="block" :disabled="!canLogin()" type="submit">LOGGA IN</Button>
        </div>
        </div>
      </form>
    </div>
  </div>
  <script src="src/assets/alpine/LoginController.ts"></script>
</AppScreen>

