---
import StickyHeader from 'src/components/shared/StickyHeader.astro';
import Button from 'src/components/ui/button.astro';
import db from 'src/db';
import AppScreen from 'src/layouts/AppScreen.astro';
import { shortName } from 'src/lib/formatters';

const errors = { password: '' };

if (Astro.request.method === 'GET') {
  const userId = await Astro.session?.get('userId');
  if (userId) {
    return Astro.redirect('/');
  }
}

if (Astro.request.method === 'POST') {
  try {
    const formData = await Astro.request.formData();
    const userId = formData.get('userId');
    const password = formData.get('password');

    // Replace with your actual password check logic
    if (password === import.meta.env.USER_PASSWORD) {
      await Astro.session?.set('userId', String(userId));
      return Astro.redirect('/');
    } else {
      errors.password = 'Fel lösenord!';
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}

const players = await db.query.profiles.findMany({
  orderBy: (p, { desc }) => [desc(p.avatarUrl)]
});
---

<AppScreen title="Logga in">
  <div class="flex min-h-svh w-full  p-6 md:p-10">
    <div class="w-full">
      <StickyHeader title="LOGGA IN" />

      {errors.password && <p style="color: red;">{errors.password}</p>}
      <form method="post" class="login" x-data="login">
        <div class="flex gap-4">
        <input type="hidden" name="userId" x-model="userId" required />
        <div class="flex flex-wrap gap-2 flex-1/4">
          {
            players.map((player) => (
              <div class="w-24 h-32 flex flex-col border-2 p-1" x-transition x-on:click={`toggleUserId(${player.id})`} :class={`[
                isUser(${player.id}) ? 'bg-cyan-500' : '',
                isAnotherUser(${player.id}) ? 'hidden' : ''
              ]`}>
                {player.avatarUrl === '1' ? (
                  <img src={`/images/avatars/${player.id}.png`} />
                ) : (
                  <img src="/images/avatars/default.png" />
                )}
                <span class="text-sm uppercase">{shortName(player.fullName)}</span>
              </div>
            ))
          }
        </div>

        <div
          class="flex-col flex gap-4 flex-3/4"
          x-show="canLogin()"
          x-cloak
          x-transition>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="hemligt!"
            required
            minlength="3"
            class="bg-white border p-2"
          />

          <Button size="lg" :disabled="!canLogin()" type="submit">LOGGA IN</Button>
        </div>
        </div>
      </form>
    </div>
  </div>
  <script src="src/assets/alpine//LoginController.ts"></script>
</AppScreen>
