---
import AppScreen from 'src/layouts/AppScreen.astro';
import Link from 'src/assets/icons/link.svg';
import HeaderTitle from 'src/components/shared/HeaderTitle.astro';
import Button from 'src/components/ui/button.astro';

Astro.response.headers.set(
  'Cache-Control',
  'public, max-age=0, s-maxage=31536000, must-revalidate'
);
Astro.response.headers.set('E-tag', 'v1');

type HistoryItem = {
  year: string;
  winner: string;
  image?: string;
  description?: string;
};
const historyItems: HistoryItem[] = [
  {
    year: '2024',
    winner: 'Tobias',
    description: 'Nyköping igen... Dominanten och giganten Tobias var oslagbar',
    image: '/images/winnerphotos/2024-tobbe.jpg'
  },
  {
    year: '2023',
    winner: 'Khalex',
    description: 'Nyköping. Var han fortfarande på väg ner i hcp? :D',
    image: '/images/winnerphotos/default.png'
  },
  {
    year: '2022',
    winner: 'Khalex',
    description: '10 år! Lanna Lodge. Khalex var på väg ner i hcp :)',
    image: '/images/winnerphotos/2022-khalex.jpg'
  },
  {
    year: '2021',
    winner: 'Patrik',
    description:
      'Packe totaldominerade. Täby Gk (kallt satan) + Sala GK med den intressanta restaurangen',
    image: '/images/winnerphotos/2021-patrik.jpeg'
  },
  {
    year: '2020',
    winner: 'Tobias',
    description: 'Åda + Finspång',
    image: '/images/winnerphotos/2020-tobbe.jpg'
  },
  {
    year: '2019',
    winner: 'Niklas',
    description: 'Åda + Nyköping. Straffgolf och mycket whiskey',
    image: '/images/winnerphotos/2019-niklas.jpg'
  },
  {
    year: '2018',
    winner: 'Patrik',
    description: 'Ombergs, och delad seger troddes det ett tag',
    image: '/images/winnerphotos/2018-patrik.png'
  },
  {
    year: '2017',
    winner: 'Tobias',
    description: '5-års jubileum och final i Spanien!',
    image: '/images/winnerphotos/2017-tobbe.jpg'
  },
  {
    year: '2016',
    winner: 'Niklas',
    description: 'Lindö igen?',
    image: '/images/winnerphotos/2016-niklas.jpg'
  },
  {
    year: '2015',
    winner: 'Patrik',
    description: 'Lindö',
    image: '/images/winnerphotos/2015-patrik.jpg'
  },
  {
    year: '2014',
    winner: 'Daniel',
    description: 'Finalspel på Körunda? Matchspel A & B finaler',
    image: '/images/winnerphotos/2014-daniel.png'
  },
  {
    year: '2013',
    winner: 'Håkan',
    description: 'Final på Körunda och åt på thaien',
    image: '/images/winnerphotos/2013-hakan.png'
  },
  {
    year: '2012',
    winner: 'Kim (typ)',
    description: 'Detta var innan det blev tisdagsgolfen, så det räknas ej som en officiel seger.'
  }
];
---

<AppScreen title="Historik" back="/">
  <div class="overflow-y-scroll h-full pb-50">
    {
      historyItems.map((item) => (
        <div class="mb-12">
          <HeaderTitle title={`${item.year} - ${item.winner}`} />

          {item.description && (
            <p class="mb-2 text-base font-normal text-gray-500">{item.description}</p>
          )}
          {item.image && (
            <img
              class="object-cover w-full mt-4 border-4 border-gray-200 min-h-36 max-w-[600px] aspect-[16/9]"
              src={item.image}
            />
          )}

          <a href={`/${item.year}`} class="inline-flex gap-2 py-2 text-sm" target="_blank">
            <Button>
              Ledartavla och rundor <Link class="size-5" />
            </Button>
          </a>
        </div>
      ))
    }
  </div>
</AppScreen>
