---
import AppScreen from 'src/layouts/AppScreen.astro';
import Link from 'src/assets/icons/link.svg';
import Button from 'src/components/ui/button.astro';
import StickyHeader from 'src/components/shared/StickyHeader.astro';

type HistoryItem = {
  year: string;
  winner: string;
  image?: string;
  description?: string;
};
const historyItems: HistoryItem[] = [
  {
    year: '2024',
    winner: 'Tobias',
    description: 'Nyköping igen... Dominanten och giganten Tobias var oslagbar',
    image: '/images/winnerphotos/2024-tobbe.jpg'
  },
  {
    year: '2023',
    winner: 'Khalex',
    description: 'Nyköping. Var han fortfarande på väg ner i hcp? :D'
  },
  {
    year: '2022',
    winner: 'Khalex',
    description: '10 år! Lanna Lodge. Khalex var på väg ner i hcp :)',
    image: '/images/winnerphotos/2022-khalex.jpg'
  },
  {
    year: '2021',
    winner: 'Patrik',
    description:
      'Packe totaldominerade. Täby Gk (kallt satan) + Sala GK med den intressanta restaurangen'
  },
  {
    year: '2020',
    winner: 'Tobias',
    description: 'Åda + Finspång',
    image: '/images/winnerphotos/2020-tobbe.jpg'
  },
  {
    year: '2019',
    winner: 'Niklas',
    description: 'Åda + Nyköping. Straffgolf och mycket whiskey',
    image: '/images/winnerphotos/2019-niklas.jpg'
  },
  {
    year: '2018',
    winner: 'Tobbe',
    description: 'Ombergs, och delad seger troddes det ett tag',
    image: '/images/winnerphotos/2018-tobbe.jpg'
  },
  {
    year: '2017',
    winner: 'Tobias',
    description: '5-års jubileum och final i Spanien!',
    image: '/images/winnerphotos/2017-tobbe.jpg'
  },
  {
    year: '2016',
    winner: 'Niklas',
    description: 'Lindö?',
    image: '/images/winnerphotos/2016-niklas.jpg'
  },
  {
    year: '2015',
    winner: 'Patrik',
    description: 'Lindö igen?',
    image: '/images/winnerphotos/2015-patrik.jpg'
  },
  {
    year: '2014',
    winner: 'Daniel',
    description: 'Vart var vi? Matchspel A & B finaler',
    image: '/images/winnerphotos/2014-daniel.png'
  },
  {
    year: '2013',
    winner: 'Håkan',
    description: 'Spelade vi finalen på Körunda och åt på thaien?',
    image: '/images/winnerphotos/2013-hakan.png'
  },
  {
    year: '2012',
    winner: 'Kim (typ)',
    description: 'Detta var innan det blev tisdagsgolfen, så det räknas ej som en officiel seger.'
  }
];
---

<AppScreen title="Historik">
  <main class="p-4 pb-12">
    <div class="-ml-4 mb-2">
      <Button intent="link">
        <a href="/"> &larr; TILLBAKA </a>
      </Button>
    </div>

    <h1 class="text-2xl font-bold">HISTORIK</h1>

    {
      historyItems.map((item) => (
        <div>
          <StickyHeader title={`${item.year} - ${item.winner}`} />

          {item.description && (
            <p class="mb-2 text-base font-normal text-gray-500 dark:text-gray-400">
              {item.description}
            </p>
          )}
          {item.image && (
            <img
              class="object-cover w-full min-h-36 max-h-72 mt-4 border-4 border-gray-200"
              src={item.image}
            />
          )}

          <a href={`/${item.year}`} class="inline-flex gap-2 py-2 text-sm" target="_blank">
            Ledartavla och rundor <Link class="size-5" />
          </a>
        </div>
      ))
    }
  </main>
</AppScreen>
